In [1]:
import pymongo

In [4]:
client= pymongo.MongoClient("mongodb://localhost:27017/")

In [5]:
#打印数据库的名字
print(client.list_database_names())

['admin', 'config', 'local', 'study_CRUD', 'test']

In [6]:
db=client["test"]

In [7]:
student_col=db["student"]

In [8]:
query={"gender":"f"}

In [18]:
projection={"name":1,"_id":0}

In [20]:
for x in student_col.find(query,projection):
    print(x)

{'name': 'Kate'}
{'name': 'Rose'}
{'name': 'Grace'}
{'name': 'Jessica'}

In [21]:
student1 = { 
    "name": "Joe", "gender": "m", "age": 23
    }
student2 = { 
    "name": "Kate", "gender": "f", 'age': 22
    }

In [22]:
student_col.insert_many([student1, student2])

In [24]:
student_col.update({  "name": "Joe", "gender": "m", "age": 23, 
    "birthdate": { "day": 15, "month": 3, "year": 1997 }, 
    "hobby": ["football", "basketball", "reading"], 
    "city": "Beijing"})

TypeError: update() missing 1 required positional argument: 'document'

In [26]:
student_col.find_one()

{'_id': ObjectId('5f706bdba244385e3bda318e'),
 'name': 'Joe',
 'gender': 'm',
 'age': 23.0,
 'birthdate': {'day': 15.0, 'month': 3.0, 'year': 1997.0},
 'hobby': ['football', 'basketball', 'reading'],
 'city': 'Beijing',
 'time': [9.0, 18.0]}

In [51]:
query={"hobby": ['cooking','photography']}#存疑

In [49]:
query={"$or":[{"city":"Shanghai","age":{"$lt":23}}]}

In [52]:
for x in student_col.find(query):
    print(x)
    print("\n")

{'_id': ObjectId('5f706bdba244385e3bda3191'), 'name': 'Jason', 'gender': 'm', 'age': 21.0, 'birthdate': {'day': 17.0, 'month': 12.0, 'year': 1999.0}, 'hobby': ['cooking', 'photography'], 'city': 'Chengdu', 'time': [8.0, 20.0]}

In [61]:
myquery={"birthdate.month":{"$lt":9.0}}
newvalues={"$set":{"age":23}}

In [62]:
for x in student_col.find(myquery):
    print(x)
    print("\n")

{'_id': ObjectId('5f706bdba244385e3bda318e'), 'name': 'Joe', 'gender': 'm', 'age': 23.0, 'birthdate': {'day': 15.0, 'month': 3.0, 'year': 1997.0}, 'hobby': ['football', 'basketball', 'reading'], 'city': 'Beijing', 'time': [9.0, 18.0]}


{'_id': ObjectId('5f706bdba244385e3bda318f'), 'name': 'Kate', 'gender': 'f', 'age': 22.0, 'birthdate': {'day': 25.0, 'month': 7.0, 'year': 1998.0}, 'hobby': ['reading', 'piano'], 'city': 'Hangzhou', 'time': [8.0, 17.0]}


{'_id': ObjectId('5f706bdba244385e3bda3190'), 'name': 'Rose', 'gender': 'f', 'age': 24.0, 'birthdate': {'day': 3.0, 'month': 3.0, 'year': 1996.0}, 'hobby': ['basketball', 'running', 'traveling'], 'city': 'Shanghai', 'time': [9.0, 19.0]}


{'_id': ObjectId('5f706bdba244385e3bda3192'), 'name': 'Grace', 'gender': 'f', 'age': 22.0, 'birthdate': {'day': 10.0, 'month': 6.0, 'year': 1998.0}, 'hobby': ['photography', 'cooking', 'drama'], 'city': 'Nanjing', 'time': [9.0, 18.0]}


{'_id': ObjectId('5f706bdba244385e3bda3193'), 'name': 'Jessica', 'gender': 'f', 'age': 22.0, 'birthdate': {'day': 21.0, 'month': 3.0, 'year': 1998.0}, 'hobby': ['cooking', 'piano'], 'city': 'Shanghai', 'time': [10.0, 19.0]}

In [63]:
student_col.update(myquery,newvalues)

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [64]:
student_col.delete_many({"age":23})